* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	vertical-align: baseline;
	font-size: 100%;
}

html {
	font-family: Poppins;
}

body {
	width: 100%;
	background: #0E0E0E;
}

.profile body {
	width: 100%;
	background: #034242;
}

.profile {
	margin: 0;
	padding: 0;
	background: url(image.jpg) no-repeat;
	background-size: cover;
}

.box {
	width: 450px;
	background: rgba(0, 0, 0, 0.4);
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: white;
	font-family: 'Centry Gothic', sans-serif;
}

.box-img {
	border-radius: 1%;
	width: 200px;
	height: 200px;
}

.box h1 {
	font-size: 40px;
	letter-spacing: 4px;
	font-weight: 100;
}

.box h5 {
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: 100;
}

.box p {
	text-align: justify;
}

ul {
	margin: 0;
	padding: 0;
}

.box li {
	display: inline-block;
	margin: 6px;
	list-style: none;
}

.box li a {
	color: white;
	text-decoration: none;
	font-size: 60px;
	transition: all ease-in-out 250ms;
}

.box li a:hover {
	color: #b9b9b9;
}


.box2 {
	width: 1500px;
	background: rgba(0, 0, 0, 0.4);
	padding: 10px;
	text-align: left;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	color: white;
	font-family: 'Centry Gothic', sans-serif;
}



h1 {
	color: #fff;
	font-size: 48px;
}

p {
	color: #fff;
	font-size: 16px;
	font-weight: 300;
}

/* Page navigation here */

.navbar {
	text-align: center;
	padding: 0;
	margin: 0;

	text-transform: uppercase;
	font-weight: bold;
}

.navbar a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	padding: 8px;
}

.navbar a::before {
	content: '';
	display: block;
	height: 5px;
	background-color: #444;
	
	position: absolute;
	top: 0;
	width: 0%;
	
	transition: all ease-in-out 250ms;
}

.navbar a:hover::before {
	width: 100%;
}

.navbar a:hover {
	color: #ffe6e6;
}

.navbar .active {
	color: white;
}

.navbar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.navbar li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 23px;

	position: relative;
}

/* header */

header {
	margin: 100px 0 200px 120px;
}

header p {
	width:  60%;
	margin-top: 10px;
}

.work {
	vertical-align: center;
	text-align: center;
	width: 75%;
}

.video {
	margin: 0px 100px 0px 100px;
}

.work img {
	margin: 1%;
	width: 45%
}

.header2 {
	margin: 130px 0px 80px 40px;
}

.work2 {
	width: 100%;
	text-align: center;
}

.work2 img {
	margin: 1%;
	width: 95%;
}

footer p {
	text-align: center;
	color: gray;
	margin: 60px auto;
}

@media only screen and (max-width: 991px) {
	header {
		text-align: left;
		margin: 100px 0 100px 30px;
	}

	header h1 {
		font-size: 36px;
	}

	header p {
		font-size: 12px;
		width: 90%;
	}

	.work img {
		margin: 2%;
		width: 90%;
	}

	.header2 {
		margin: 130px 0 40px 12px;
	}

	.header2 h1 {
		font-size: 36px;
	}

	.header2 p {
		font-size: 12px;
		width: 90%;
	}

	.work2 img {
		margin: 2%;
	}

}