* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #ffbdaa;
	padding: 0;
	font-family: Arial;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

.main {
	max-width: 1000px;
	margin: auto;
}

h1 {
	align-content: center;
	font-size: 50px;
	word-break: break-all;
}

.navbar {
	float: right;
	text-transform: uppercase;
	font-weight: bold;
}

.navbar a {
	color: #888;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	padding: 8px;
}

.navbar a::before {
	content: '';
	display: block;
	height: 5px;
	background-color: #444;
	
	position: absolute;
	top: 0;
	width: 0%;
	
	transition: all ease-in-out 250ms;
}

.navbar a:hover::before {
	width: 100%;
}

.navbar a:hover {
	color: #000;
}

.navbar .active {
	color: #000;
}

.navbar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.navbar li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 23px;

	position: relative;
}

.row {
  margin: 50px -16px;
  border: 2px solid black;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: white;
  padding: 10px;
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}